html {
    position: fixed;
    background-color: #000000;
}

body {
    background-color: #000000;
    position: fixed;
    font-family: sans-serif;    
}

.box {
	border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFFFFF;	
	width: 190px;
	height: 85px;   
	margin-bottom: 15px;
}

.boxDouble {
	border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFFFFF;	
	width: 190px;
	height: 230px;   
	margin-bottom: 15px;
}

.boxThird {
	border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFFFFF;	
	width: 434px;
	height: 525px;   
	margin-bottom: 15px;
	position: absolute;
	left: 0;
}

.firstLine {    
    margin-top: 10px;
}

#time {
	text-align: center;
	background-color: #000000;
	font-family: sans-serif;
	font-size:70px;
	
}

#appointments {
	text-align: left;	
    font-size: 12px;
}

#main {
float:left;
}
#sidebar {
float:left;
margin-left: 10px;
}

#sidebar2 {
float:left;
margin-left: 10px;
}

#sidebar3 {
float:left;
margin-left: 10px;
}

#messageNew {
padding-left:45px;
}

.boxheader {

	margin-top: -30px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #000000;
	font-family: sans-serif;
	cursor:pointer;
}

.station {
    width: 60px;
    height: 60px;
}

.content {

	float: left;
	padding-top: 100px;
	display: block;

}

div#scroll {
    overflow: hidden;
    height: 515px;
    padding: 4px;
    margin-bottom: 20px;
}
