<!DOCTYPE html>
<html>
<head>
<meta name="apple-mobile-web-app-capable" content="yes">
<link id="wettercom-css" href="{{ url_for('static', filename='css/wetter.css') }}" rel="stylesheet" type="text/css" />
<link id="style-css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mobile-1.4.5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/page.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/signature_pad.js') }}"></script>
<script type="text/javascript" src="http://www.wetter.com/js/woys3.1.js?116127,8680d91cfbe489daf7e7d4ca73c67255"></script>
</head>
<body style="width:1024px; height:768px;">

	<div id="main">
		<div class="box firstLine">
			<div class="boxheader">BATHROOM</div>
				<div class=".content">
					<img class="station" src="{{ url_for('static', filename='img/btn-eldoradio.png') }}"/>
					<img class="station" src="{{ url_for('static', filename='img/btn-xfm.png') }}" />
					<img class="station" src="{{ url_for('static', filename='img/btn-wdr5.png') }}" />
				</div>			
		</div>				
	</div>
	<div id="sidebar">
		<div class="box firstLine" style="clear:both;">
			<div class="boxheader">LIVINGROOM</div>
			<div class=".content">
					<img class="station" src="{{ url_for('static', filename='img/btn-eldoradio.png') }}" />
					<img class="station" src="{{ url_for('static', filename='img/btn-xfm.png') }}" />
					<img class="station" src="{{ url_for('static', filename='img/btn-wdr5.png') }}" />
				</div>
		</div>
		<div class="boxThird">
			<div class="boxheader">GALERIE</div>			
		</div>
	</div>
	</div>
	
	<div id="sidebar2">
		<div id="uhrzeit" class="box firstLine">
			<div class="boxheader">UHRZEIT</div>
			<div id="time"></div>
		</div>
		<div id="uhrzeit" class="box">
			<div class="boxheader">DORTMUND</div>	
			<div id="wettercom-button-8680d91cfbe489daf7e7d4ca73c67255">  
				<div id="wettercom-woys-8680d91cfbe489daf7e7d4ca73c67255"></div>								
			</div>
		</div>
		<div id="uhrzeit" class="box">
			<div class="boxheader">UHRZEIT</div>			
		</div>
		<div id="uhrzeit" class="box">
			<div class="boxheader">UHRZEIT</div>			
		</div>
		<div id="uhrzeit" class="box">
			<div class="boxheader">UHRZEIT</div>			
		</div>
	</div>
    
    <div id="sidebar3">
		<div id="uhrzeit" class="boxDouble firstLine">
			<div class="boxheader">TERMINE</div>			
		</div>
		<div id="uhrzeit" class="box">
			<div class="boxheader newMsg">MESSAGES</div>
			<div id="message">
				<canvas id="can" width="1024px" height="768px"></canvas>
				<div style="position:absolute;top:50%;right:0;float:right;background-color:#FFFFFF;">
					<img id="save" height="64" width="64" src="{{ url_for('static', filename='img/save.png') }}" /><br>
					<img id="trash" height="64" width="64" src="{{ url_for('static', filename='img/trash.png') }}" />
				</div>
			</div>
            <div id="messageNew">				
			     <img id="imgMessageNew" style="cursor:pointer;" height="128" width="128" src="{{ url_for('static', filename='img/message.png') }}" />
			</div>
            <div id="messageShow" width="1024px" height="768px" 
                 style="position: fixed; top: 0px; left: 0px; background-image: url(static/img/paper.png);background-repeat:no-repeat"
            >	
                <div id="messageShowContent" ></div>			
			    <div style="position:absolute;top:50%;right:0;float:right;background-color:#FFFFFF;">
					<img id="messageShowClose" height="64" width="64" src="{{ url_for('static', filename='img/trash.png') }}" />
				</div>
			</div>			
		</div>
	</div>

	
	
</body>
</html>